---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/dev/characters/2113024536
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"6da92185cd28c5ad47df496bfe40dc61cdd19fc26551dd338ae0614d"'
      Last-Modified:
      - Sat, 29 May 2021 16:35:53 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '47'
      X-Esi-Request-Id:
      - 8cc612a6-c2fc-4d21-b46b-2238c48a6fbc
    body:
      encoding: UTF-8
      string: '{"alliance_id":99003214,"ancestry_id":37,"birthday":"2017-07-20T16:28:17Z","bloodline_id":13,"corporation_id":98169165,"description":"","gender":"male","name":"Bokobo
        Shahni","race_id":4,"security_status":0.7826388230000001}'
  recorded_at: Sat, 29 May 2021 16:51:13 GMT
recorded_with: VCR 6.0.0
