---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/latest/characters/2113024536
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"6da92185cd28c5ad47df496bfe40dc61cdd19fc26551dd338ae0614d"'
      Last-Modified:
      - Thu, 03 Jun 2021 18:25:09 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '8'
      X-Esi-Request-Id:
      - 46789a4b-2966-465b-afd8-703af35133a1
    body:
      encoding: UTF-8
      string: '{"alliance_id":99003214,"ancestry_id":37,"birthday":"2017-07-20T16:28:17Z","bloodline_id":13,"corporation_id":98169165,"description":"","gender":"male","name":"Bokobo
        Shahni","race_id":4,"security_status":0.7826388230000001}'
  recorded_at: Thu, 03 Jun 2021 19:45:52 GMT
recorded_with: VCR 6.0.0
