<div class="bg-gray-900">
  <div class="relative overflow-hidden">
    <%= render partial: 'header' %>
    <main>
      <%= render partial: 'hero' %>

      <!-- Feature section with screenshot -->
      <%#= render partial: 'hauling' %>

      <!-- Feature section with grid -->
      <%#= render partial: 'procurement' %>

      <%#= render partial: 'reprocessing' %>

      <%#= render partial: 'testimonials' %>

      <!-- Blog section -->
      <%#= render partial: 'blog' %>

      <!-- CTA Section -->
      <%#= render partial: 'support' %>
    </main>
    <%= render partial: 'footer' %>
  </div>
</div>
