<div class="bg-red-600">
  <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between flex-wrap">
      <div class="w-0 flex-1 flex items-center">
        <p class="ml-3 p-2 font-medium text-white truncate">
          <span>
            You are currently visiting the <%= Rails.env %> environment for this website. We may reset the data in this environment without notice at any time.
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
