<% content_for :main do %>
  <div class="flex flex-col h-screen">
    <%= render 'nav' %>
    <main class="flex-grow p-4 bg-white">
      <%= yield %>
    </main>
    <%= render 'footer' %>
  </div>
<% end %>
<%= render template: 'layouts/application' %>
